@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using System.Globalization
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<strong>Culture:</strong>
<select class="form-control" @bind="Culture" style="width:300px; margin-left:10px;">
    @foreach (var culture in AppCultures.SupportedCultures)
    {
        <option value="@culture">@culture.DisplayName</option>
    }
</select>

@code {
    
    CultureInfo Culture
    {
        get => CultureInfo.CurrentUICulture;
        set
        {
            if (CultureInfo.CurrentUICulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("selectedCulture.set", value.Name);
                NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
            }
        }
    }
}
