@inherits LayoutComponentBase
@inject IApplicationData ApplicationData

<div class="page">

    @if (LoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        <div class="top-row px-4">
            <CultureSelector />
        </div>

        <div class="content px-4">
            @Body
            <Alert />
        </div>
    </div>
</div>

@code {
    public bool LoggedIn
    {
        get { return ApplicationData.Auth != null; }
    }
}